
html{
   
}


/* css toegepast op alles in de body  */
body{
    background-image: 
    linear-gradient(
        #ffdbc5,
      #ffb400,
      #ff7e01,
      #ff4375,
      #ff9aba
    ) ;

    display: flex;
    flex-direction: column;

    justify-content: center;
    
    justify-items: center;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    margin: 0;
    padding: 0;
   
}

/* zorgt ervoor dat de kast blijft staan op zijn plek en door 
de z-index naar achteren wordt verplaatst zodat het carousel eroverheen staat
 */
#kast{
    
    position: absolute;
    
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    max-width: 90%;
    max-height:90% ;
   
   
    z-index: -1;
}

/* de class over de elementen die door de pagina heen gaan,
ze beginnen buiten het scherm en worden daarna met behulp van een 
animatie en  transform verplaatst */
#sparkle{
    position: absolute;
    left: -10em;
    width: 3em;
    top: 10vh;
    
    max-width: 10vw;
    max-height: 10vh;
    
    animation: moveright 8s linear infinite ;
}

#stars{
    position: absolute;
    right: -10em;
    width: 3em;
    top: 20vh;

    max-width: 10vw;
    max-height: 10vh;
    animation: moveleft 12s linear infinite ;
}


/* definieert de animatie */
@keyframes moveright {
    100% {
        transform: translateX(0);
    }
 0% {
    transform: translateX(200vw);
}
}

@keyframes moveleft {
    100% {
        transform: translateX(0);
    }
 0% {
    transform: translateX(-200vw);
}
}




section:nth-of-type(1) h1{

    color: hsl(324, 88%, 65%);
    font-family: Expletus sans;
    align-items: center;
    padding:1em ;
    margin: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:30% ;
    z-index: 1.5;
    /* position: absolute;
    top:10%;
    */
    /* size: 5em; */
}

section:nth-of-type(1) h1:hover{
    color: hsl(302, 100%, 87%);
    /* scale: 1.5; */
    box-shadow: 4px 4px 4px ;
}




section:nth-of-type(2){
    display: flex;
    position: relative;
}


/* list waar de carousel uit bestaat, */
section:nth-of-type(2) ul {
    /* width:80%; */
    overflow-x: scroll;
    overflow-y: hidden ;


    padding: 0;
    margin:0;

    list-style-type: none;
    width: 100%;
   
    display: flex;
   
    z-index: 1;
    /* scroll-behavior: smooth; */
    /* transition: 0.5s ease-in-out; */
    scroll-snap-type: x mandatory;
      
}


section:nth-of-type(2) ul:nth-of-type(1) li{
    display: flex;
    max-width: 80%;
    display: block;
    padding: 0;
    margin: 2em;
    /* border: solid 3px hsl(333 80% 80%); */
    border-radius: 30%;
    /* background-color: hsl(255, 226, 211); */
    
   scroll-snap-align: center  ;
   justify-items: center;

/* roept de animatie aan waardoor het carousel naar links en rechts beweegt, 
animeert in en uit van links naar rechts */
   animation: 
    animate-in linear forwards , 
    animate-out linear forwards ;

    /* gekoppeld aan de scrollpositie  */
    animation-timeline: view(inline);
    /* animatie begint bij betreden van een element en eindigt als deze verlaat */
    animation-range: entry, exit;
   
}


section:nth-of-type(2) ul:nth-of-type(1) li p{
    /* background-color: aqua; */
    /* color: hsl(150, 80%, 60%); */
    visibility: hidden;

/* bepaalt de styling wanneer het gekozen element een active state heeft */
    &.active{
        display: block;
        visibility:visible;
        background-image:
        linear-gradient(
            hsl(0, 0%, 100%),
            hsl(302, 100%, 87%)) 
        ;
        border-radius: 10%;
        
        padding: 0.5em;
    }
}






section:nth-of-type(2) ul:nth-of-type(1) li:first-of-type{
    margin-inline-start: 35vw;
}

section:nth-of-type(2) ul:nth-of-type(1) li:last-of-type{
    margin-inline-end: 35vw ;
}


/* geeft aan hoe de li's eruit moetne zien als ze in komen scrollen
de schaal veranderd namelijk en ze krijgen een hoek */
@keyframes animate-in {
	0% { 
        opacity: 0; 
        scale:.5;
        transform: 
        translateX(-100%)   rotateY(-90deg);
        /* orientation: block; */
    }
	100% { 
        opacity: 1; 
        scale:1;
        transform:
        translateX(0) rotateY(0deg);
        /* orientation: block; */
    }
}

@keyframes animate-out {
	0% { 
        opacity: 1; 
        scale:1;
        transform: 
        translateX(0)  rotateY(0deg);
    }
	100% { 
        opacity: 0; 
        scale:.5;
        transform: 
        translateX(100%)  rotateY(90deg);
    }
}





section:nth-of-type(2) ul:nth-of-type(1) li img{
    padding: 2em;
    width: 25vw;
    height: 25vw;
   border-radius: 30%;
   /* margin-top: 15px; */
   
}

section:nth-of-type(2) ul:nth-of-type(1) li img:hover{
    box-shadow: 2px 2px 4px hsl(0, 0%, 100%) ;
}



